<div class="article-block">
  <img ng-src="{{ tip.cover }}" class="article-block__cover">

  <h2 class="article-block__title">
    {{ tip.title }}
  </h2>

  <div class="article-block__block">
    <h4 class="article-block__heading">
      Liquids
    </h4>

    <p class="article-block__text">
      All-purpose laundry detergents that are especially effective on food, greasy, and oily soils. Since they are
      liquids, they are good for pretreating spots and stains.
    </p>
  </div>

  <div class="article-block__block">
    <h4 class="article-block__heading">
      Powders
    </h4>

    <p class="article-block__text">
      All-purpose laundry detergents which are ideal for general washday loads. Especially effective on lifting out
      clay and ground-in dirt, thus ideal for children's play clothes.
    </p>
  </div>

  <div class="article-block__block">
    <h4 class="article-block__heading">
      Ultra Detergents
    </h4>

    <p class="article-block__text">
      Most liquid and powder detergents are now concentrated. They come in much smaller packages &mdash; yet offer the
      same amount of cleaning power as the familiar products in larger packages. You need less ultra detergent than
      with an unconcentrated product so follow the label instructions and use the measuring cap or scoop that comes with the product.
    </p>
  </div>
</div>
