<div class="article-block">
  <img ng-src="{{ tip.cover }}" class="article-block__cover">

  <h2 class="article-block__title">
    {{ tip.title }}
  </h2>

  <div class="article-block__block">
    <h4 class="article-block__heading">
      When to use hot water
    </h4>

    <p class="article-block__text">
      For whites, typical dirty clothes and diapers, use hot water (130° F). Hot water is best for removing
      germs and heavy soiling. However, hot water can shrink, fade, and damage some fabrics. So, be sure to
      read your clothing labels before selecting the hot option.
    </p>
  </div>

  <div class="article-block__block">
    <h4 class="article-block__heading">
      When to use warm water
    </h4>

    <p class="article-block__text">
      For artificial fibers, knits, and jeans, use warm water (90° F). Most of your clothes can be washed in
      warm water. It offers good cleaning without significant fading or shrinking.
    </p>
  </div>

  <div class="article-block__block">
    <h4 class="article-block__heading">
      When to use cold water
    </h4>

    <p class="article-block__text">
      For dark, bright colors that bleed or has delicate fabrics, use cold water (80° F). Cold water also
      saves energy, so it is a good choice if you want to be eco-friendly. If you want to use cold water,
      you may need to pre-treat or pre-soak your clothes if your laundry items are heavily stained.
    </p>
  </div>
</div>
