<ion-view title="Payment" id="payment">
  <ion-content padding="true" class="has-header">
    <div class="u-spacer">
      <button ng-click="checkout()" class="button button-block button-positive">
        Pay with PayPal
      </button>
    </div>

    <div class="u-spacer">
      <button ng-click="proceed()" class="button button-block button-dark">
        Over-The-Counter Payment
      </button>
    </div>
  </ion-content>

  <div class="bar bar-footer bar-stable">
    <button class="button button-clear button-block" ng-click="receipt.show()" style="margin: 0;">
      View Receipt
    </button>
  </ion-view>
</ion-view>
