<ion-view title="Queue" id="page1">
  <ion-content padding="true" class="has-header">
    <div class="list card" ng-if="jobs.length">
      <a ui-sref="menu.job({ id: job.id })" ng-repeat="job in jobs" class="item item-icon-left item-icon-right">
        <i class="icon ion-calendar" ng-if="job.reserve_at != null"></i>
        <i class="icon ion-pound" ng-if="job.reserve_at == null"></i>
        <small>{{ job.id }}</small>
        &nbsp;&nbsp;
        <span ng-if="job.status === 'Reserved'" class="u-text-grey">
          For Approval
        </span>

        <span ng-if="job.status === 'Approved'" class="positive">
          Approved
        </span>

        <span ng-if="job.status === 'Pending washer'" class="positive">
          Washing On-going {{ job.queue.washer }}
        </span>

        <span ng-if="job.status === 'Pending dryer'" class="positive">
          Drying On-going {{ job.queue.dryer }}
        </span>

        <span ng-if="job.status === 'Done'" class="balanced">
          Done
        </span>

        <span ng-if="job.status === 'Paid'" class="balanced">
          Paid
        </span>
        <i class="icon ion-chevron-right"></i>
      </a>
    </div>

    <div ng-if="!jobs.length">
      <div class="u-spacer">
        <div class="circle calm-bg u-block-center" ng-if="!job.status.length">
          <i class="icon ion-happy-outline"></i>
        </div>
      </div>

      <h5 class="calm">Nice!</h5>

      <p class="u-text-grey u-spacer">
        Looks like your clothes are all clean.<br />Let us know when you do!
      </p>

      <div>
        <a ui-sref="menu.queue-options" class="button button-positive button-block">
          Make New Reservation
        </a>
      </div>
    </div>
  </ion-content>
</ion-view>
