<ion-view title="Queue" id="page1">
  <ion-content padding="true" class="has-header container">
    <div>
      <div ng-if="!job.status.length">
        <div class="u-spacer">
          <div class="circle calm-bg u-block-center">
            <i class="icon ion-happy-outline"></i>
          </div>
        </div>

        <h5 class="calm">Nice!</h5>

        <p class="u-text-grey u-spacer">
          Looks like your clothes are all clean.<br />Let us know when you do!
        </p>

        <div>
          <button ng-click="new()" class="button button-positive button-block">
            Make New Reservation
          </button>
        </div>
      </div>

      <div ng-if="job.status === 'Pending'">
        <div class="u-spacer">
          <div class="circle positive-bg u-block-center">
            <i class="icon ion-ios-list-outline"></i>
          </div>
        </div>

        <h5 class="positive">Pending</h5>

        <p class="u-text-grey u-spacer">Please kindly wait,<br />we are still processing your reservation.</p>

        <div>
          <button ng-click="cancel()" class="button button-assertive  button-block">
            Cancel Reservation
          </button>
        </div>
      </div>

      <div ng-if="job.status === 'Approved'">
        <div class="u-spacer">
          <div class="circle positive-bg u-block-center">
            <i class="icon ion-load-c u-animate-spin"></i>
          </div>
        </div>

        <h5 class="positive">
          On-going...
        </h5>

        <p class="u-text-grey u-spacer">
          Your clothes are now being washed.
        </p>

        <div ng-if="job.queue" class="u-spacer">
          <span class="label">
            <h4 class="label-header">
              <span ng-if="job.queue.washer">#{{ job.queue.washer }}</span>
              <span ng-if="!job.queue.washer"><i class="icon ion-checkmark balanced"></i></span>
            </h4>

            <h6 class="label-name">{{ job.washer.name }}</h6>
          </span>

          <span class="label">
            <h4 class="label-header">
              <span ng-if="job.queue.dryer">#{{ job.queue.dryer }}</span>
              <span ng-if="!job.queue.dryer"><i class="icon ion-checkmark balanced"></i></span>
            </h4>

            <h6 class="label-name">{{ job.dryer.name }}</h6>
          </span>
        </div>

        <div>
          <button ng-click="cancel()" class="button button-assertive  button-block">
            Cancel Reservation
          </button>
        </div>
      </div>

      <div ng-if="job.status === 'Declined'">
        <div class="u-spacer">
          <div class="circle assertive-bg u-block-center">
            <i class="icon ion-alert"></i>
          </div>
        </div>

        <h5 class="assertive">Declined</h5>

        <p class="u-text-grey u-spacer">Sorry, we had to decline your reservation.</p>

        <div>
          <button ng-click="new()" class="button button-positive button-block">
            Make Another Reservation
          </button>
        </div>
      </div>

      <div ng-if="job.status === 'Done'">
        <div class="u-spacer">
          <div class="circle positive-bg u-block-center">
            <i class="icon ion-thumbsup"></i>
          </div>
        </div>

        <h5 class="positive">
          Almost there!
        </h5>

        <p class="u-text-grey u-spacer">
          Your clothes are now good as new!
          <br />Please pay an amount of <strong class="dark">PHP {{ job.total_bill | numeraljs: 'currency' }}</strong> to the counter.
        </p>
      </div>

      <div ng-if="job.status === 'Paid'">
        <div class="u-spacer">
          <div class="circle balanced-bg u-block-center">
            <i class="icon ion-thumbsup"></i>
          </div>
        </div>

        <h5 class="balanced">
          Done
        </h5>

        <p class="u-text-grey u-spacer">
          You're good to go!
          <br />Don't forget to pick up your clothes.
        </p>

        <div>
          <button ng-click="new()" class="button button-positive button-block">
            Make Another Reservation
          </button>
        </div>
      </div>

      <div ng-if="job.status === 'Cancelled'">
        <div class="u-spacer">
          <div class="circle dark-bg u-block-center">
            <i class="icon ion-sad-outline"></i>
          </div>
        </div>

        <h5 class="dark">
          Cancelled
        </h5>

        <p class="u-text-grey u-spacer">
          Oops, it seems that your reservation got cancelled.
        </p>

        <div>
          <button ng-click="new()" class="button button-positive button-block">
            Make Another Reservation
          </button>
        </div>
      </div>
    </div>
  </ion-content>

  <div class="bar bar-footer bar-stable u-flex-align-center u-flex-justify-space-between" ng-if="job.status.length && job.status !== 'Cancelled'">
    <h4 class="u-no-spacer">
      <i class="icon ion-pricetag u-text-icon-left"></i>
      PHP {{ job.total_bill | numeraljs: 'currency' }}
    </h4>

    <wizard-steps ng-if="['Pending', 'Approved', 'Done', 'Paid'].includes(job.status)" step="steps[job.status]" max="4">
    </wizard-steps>
  </div>
</ion-view>
