<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">Conditioner</h1>
    <button class="button button-icon ion-chevron-down pull-right" ng-click="modal.hide()"></button>
  </ion-header-bar>

  <ion-content padding="true" style="padding: 10px;">
    <div class="u-spacer">
      <div class="u-clearfix">
        <div class="u-pull-left"><h3>Downy</h3></div>
        <div class="u-pull-right"><h3 class="u-text-grey">PHP 10</h3></div>
      </div>

      <p>
        Select this option if you would like to use Downy as conditioner.
      </p>
    </div>

    <div class="u-spacer">
      <div class="u-clearfix">
        <div class="u-pull-left"><h3>Own</h3></div>
        <div class="u-pull-right"><h3 class="u-text-grey">Free</h3></div>
      </div>

      <p>
        This options means that you'll have to bring your own conditioner.
      </p>
    </div>
  </ion-content>
</ion-modal-view>
