  <ion-modal-view>
  <ion-header-bar>
    <h1 class="title">Washer Mode</h1>
    <button class="button button-icon ion-chevron-down pull-right" ng-click="modal.hide()"></button>
  </ion-header-bar>

  <ion-content padding="true">
    <div class="u-spacer">
      <div class="u-clearfix">
        <h3 class="u-pull-left">Klean</h3>
        <h3 class="u-pull-right">PHP 70</h3>
      </div>

      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua.
      </p>
    </div>

    <div class="u-spacer">
      <div class="u-clearfix">
        <h3 class="u-pull-left">Kleaner</h3>
        <h3 class="u-pull-right">PHP 80</h3>
      </div>

      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua.
      </p>
    </div>

    <div class="u-spacer">
      <div class="u-clearfix">
        <h3 class="u-pull-left">Kleanest</h3>
        <h3 class="u-pull-right">PHP 90</h3>
      </div>

      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua.
      </p>
    </div>
  </ion-content>
</ion-modal-view>
