<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">Service Type</h1>
    <button class="button button-icon ion-chevron-down pull-right" ng-click="modal.hide()"></button>
  </ion-header-bar>

  <ion-content padding="true" style="padding: 10px;">
    <div class="u-spacer">
      <div class="u-clearfix">
        <div class="u-pull-left"><h3>Self</h3></div>
        <div class="u-pull-right"><h3 class="u-text-grey">Free</h3></div>
      </div>

      <p>
        Select this option if you would like to do a self-service.
      </p>
    </div>

    <div class="u-spacer">
      <div class="u-clearfix">
        <div class="u-pull-left"><h3>Employee</h3></div>
        <div class="u-pull-right"><h3 class="u-text-grey">Free</h3></div>
      </div>

      <p>
        Select this option if you would like to let an employee do the work for you.
      </p>
    </div>
  </ion-content>
</ion-modal-view>
