  <ion-modal-view>
  <ion-header-bar>
    <h1 class="title">Dryer Mode</h1>
    <button class="button button-icon ion-chevron-down pull-right" ng-click="modal.hide()"></button>
  </ion-header-bar>

  <ion-content padding="true" style="padding: 10px;">
    <div class="u-spacer">
      <div class="u-clearfix">
        <div class="u-pull-left"><h3>19 Minutes</h3></div>
        <div class="u-pull-right"><h3 class="u-text-grey">PHP 70 / 8kg</h3></div>
      </div>

      <p>
        Your clothes will be dryed for 19 minutes.
      </p>
    </div>

    <div class="u-spacer">
      <div class="u-clearfix">
        <div class="u-pull-left"><h3>24 Minutes</h3></div>
        <div class="u-pull-right"><h3 class="u-text-grey">PHP 80 / 8kg</h3></div>
      </div>

      <p>
        Your clothes will be dryed for 24 minutes.
      </p>
    </div>

    <div class="u-spacer">
      <div class="u-clearfix">
        <div class="u-pull-left"><h3>29 Minutes</h3></div>
        <div class="u-pull-right"><h3 class="u-text-grey">PHP 90 / 8kg</h3></div>
      </div>

      <p>
        Your clothes will be dryed for 29 minutes.
      </p>
    </div>
  </ion-content>
</ion-modal-view>
