  <ion-modal-view>
  <ion-header-bar>
    <h1 class="title">Washer Mode</h1>
    <button class="button button-icon ion-chevron-down pull-right" ng-click="modal.hide()"></button>
  </ion-header-bar>

  <ion-content padding="true" style="padding: 10px;">
    <div class="u-spacer">
      <div class="u-clearfix">
        <div class="u-pull-left"><h3>Klean</h3></div>
        <div class="u-pull-right"><h3 class="u-text-grey">PHP 70 / 8kg</h3></div>
      </div>

      <p>
        Recommended for few and light fabrics.
      </p>
    </div>

    <div class="u-spacer">
      <div class="u-clearfix">
        <div class="u-pull-left"><h3>Kleaner</h3></div>
        <div class="u-pull-right"><h3 class="u-text-grey">PHP 80 / 8kg</h3></div>
      </div>

      <p>
        Most used washer mode, for those who want their clothes to be clean.
      </p>
    </div>

    <div class="u-spacer">
      <div class="u-clearfix">
        <div class="u-pull-left"><h3>Kleanest</h3></div>
        <div class="u-pull-right"><h3 class="u-text-grey">PHP 90 / 8kg</h3></div>
      </div>

      <p>
        Used for thick fabrics. The longer the time, the more the clothes get cleaned.
      </p>
    </div>
  </ion-content>
</ion-modal-view>
