<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">Detergent</h1>
    <button class="button button-icon ion-chevron-down pull-right" ng-click="modal.hide()"></button>
  </ion-header-bar>

  <ion-content padding="true" style="padding: 10px;">
    <div class="u-spacer">
      <div class="u-clearfix">
        <div class="u-pull-left"><h3>Ariel</h3></div>
        <div class="u-pull-right"><h3 class="u-text-grey">PHP 12</h3></div>
      </div>

      <p>
        Select this option if you would to use Ariel as detergent.
      </p>
    </div>

    <div class="u-spacer">
      <div class="u-clearfix">
        <div class="u-pull-left"><h3>Tide</h3></div>
        <div class="u-pull-right"><h3 class="u-text-grey">PHP 10</h3></div>
      </div>

      <p>
        Select this option if you would to use Tide as detergent.
      </p>
    </div>

    <div class="u-spacer">
      <div class="u-clearfix">
        <div class="u-pull-left"><h3>Pride</h3></div>
        <div class="u-pull-right"><h3 class="u-text-grey">PHP 6</h3></div>
      </div>

      <p>
        Select this option if you would to use Pride as detergent.
      </p>
    </div>
  </ion-content>
</ion-modal-view>
