<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">Bleach</h1>
    <button class="button button-icon ion-chevron-down pull-right" ng-click="modal.hide()"></button>
  </ion-header-bar>

  <ion-content padding="true" style="padding: 10px;">
    <div class="u-spacer">
      <div class="u-clearfix">
        <div class="u-pull-left"><h3>Colorsafe</h3></div>
        <div class="u-pull-right"><h3 class="u-text-grey">PHP 5</h3></div>
      </div>

      <p>
        Color-safe bleach is useful if you need to whiten or lighten up an item that cannot be bleached with chlorine bleach, that has a stain that's out of the ordinary on it (you spilled red wine, fruit juice, blood, or something colored), or that has been run though the wash but a stain did not come out.
      </p>
    </div>

    <div class="u-spacer">
      <div class="u-clearfix">
        <div class="u-pull-left"><h3>Original</h3></div>
        <div class="u-pull-right"><h3 class="u-text-grey">PHP 12</h3></div>
      </div>

      <p>
        Select this option if you would like to use a regular bleach.
      </p>
    </div>
  </ion-content>
</ion-modal-view>
