<ion-view title="Walk-in Queue" id="page2">
  <ion-content padding="true" class="has-header">
    <div ng-if="form.errors.length" class="pull-note pull-note--assertive u-spacer">
      <i class="icon ion-android-alert pull-note__icon"></i>

      <ul class="pull-note__text">
        <li ng-repeat="error in form.errors">{{ error }}</li>
      </ul>
    </div>

    <div class="pull-note pull-note--positive u-spacer">
      <i class="icon ion-ios-information pull-note__icon"></i>

      <p class="pull-note__text">
        If you're new to Quicklean, you may read our <a ui-sref="menu.laundry-tips" class="pull-note__link">Laundry Tips</a>.
      </p>
    </div>

    <form id="reservation-form1" class="list">
      <div class="item item-input">
        <span class="input-label">
          <label for="name">Name</label>
        </span>

        <input type="text" placeholder="John Doe" ng-model="form.data.name" id="name" name="name">
      </div>

      <div class="item item-input">
        <span class="input-label">
          <label for="phone">Phone</label>
        </span>

        <input type="text" placeholder="0916 432 9916" ng-model="form.data.phone" id="phone" name="phone">
      </div>

      <div class="item item-select">
        <span class="input-label">
          <label for="service_type">Service Type</label>
          <info-modal template="reservation.service-type.html"></info-modal>
        </span>

        <select ng-model="form.data.service_type" id="service_type" name="service_type">
          <option value="self">Self</option>
          <option value="employee">Employee</option>
        </select>
      </div>

      <div class="item item-select">
        <span class="input-label">
          <label for="kilogram">Kilogram</label>
          <info-modal template="reservation.kg.html"></info-modal>
        </span>

        <select ng-model="form.data.kilogram" id="kilogram" name="kilogram">
          <option value="8">8 kg</option>
          <option value="16">16 kg</option>
        </select>
      </div>

      <div class="item item-select" id="reservation-select3">
        <span class="input-label">
          <label for="washer_mode">Washer Mode</label>
          <info-modal template="reservation.washer.html"></info-modal>
        </span>

        <select ng-model="form.data.washer_mode" id="washer_mode" name="washer_mode">
          <option value="clean">Klean</option>
          <option value="cleaner">Kleaner</option>
          <option value="cleanest">Kleanest</option>
        </select>
      </div>

      <div class="item item-select">
        <span class="input-label">
          <label for="dryer_mode">Dryer Mode</label>
          <info-modal template="reservation.dryer.html"></info-modal>
        </span>

        <select ng-model="form.data.dryer_mode" id="dryer_mode" name="dryer_mode">
          <option value="19">19 mins</option>
          <option value="24">24 mins</option>
          <option value="29">29 mins</option>
        </select>
      </div>

      <div class="item item-select">
        <span class="input-label">
          <label for="detergent">Detergent</label>
          <info-modal template="reservation.detergent.html"></info-modal>
        </span>

        <select id="detergent" ng-model="form.data.detergent" id="detergent" name="detergent">
          <option value="ariel">Ariel</option>
          <option value="pride">Pride</option>
          <option value="tide">Tide</option>
          <option value="i_have_one">I have one</option>
        </select>
      </div>

      <div class="item item-select" ng-if="form.data.detergent !== 'i_have_one'">
        <span class="input-label">
          <label for="detergent_qty">Detergent Qty.</label>
        </span>

        <select ng-model="form.data.detergent_qty" id="detergent_qty" name="detergent_qty">
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
        </select>
      </div>

      <div class="item item-select">
        <span class="input-label">
          <label for="bleach">Bleach</label>
          <info-modal template="reservation.bleach.html"></info-modal>
        </span>

        <select ng-model="form.data.bleach" name="bleach" id="bleach">
          <option value="colorsafe">Colorsafe</option>
          <option value="original">Original</option>
          <option value="i_have_one">I have one</option>
        </select>
      </div>

      <div class="item item-select" ng-if="form.data.bleach !== 'i_have_one'">
        <span class="input-label">
          <label>Bleach Qty.</label>
        </span>

        <select ng-model="form.data.bleach_qty" name="bleach_qty" id="bleach_qty">
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
        </select>
      </div>

      <div class="item item-select">
        <span class="input-label">
          <label for="fabric_conditioner">Fabric Conditioner</label>
          <info-modal template="reservation.conditioner.html"></info-modal>
        </span>

        <select ng-model="form.data.fabric_conditioner" id="fabric_conditioner" name="fabric_conditioner">
          <option value="downy">Downy</option>
          <option value="i_have_one">I have one</option>
        </select>
      </div>

      <div class="item item-select" ng-if="form.data.fabric_conditioner !== 'i_have_one'">
        <span class="input-label">
          <label for="fabric_conditioner_qty">Fabric Conditioner Qty.</label>
        </span>

        <select ng-model="form.data.fabric_conditioner_qty" name="fabric_conditioner_qty" id="fabric_conditioner_qty">
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
        </select>
      </div>

      <ion-toggle toggle-class="toggle-positive" id="reservation-toggle1" name="is_press" ng-model="form.data.is_press">Pressed</ion-toggle>

      <ion-toggle toggle-class="toggle-positive" id="reservation-toggle3" name="is_fold" ng-model="form.data.is_fold">Folded</ion-toggle>
    </form>
  </ion-content>

  <ion-footer-bar class="bar bar-footer bar-stable u-flex-align-center u-flex-justify-space-between">
    <h4 class="u-no-spacer">
      <i class="icon ion-pricetag u-text-icon-left"></i> {{ total | numeraljs: 'currency' }}
    </h4>

    <button ng-click="submit()" id="reservation-button2" class="button button-positive">
      <i class="icon ion-pound u-text-icon-left"></i>
      Queue
    </button>
  </ion-footer-bar>
</ion-view>
