.media {
  padding: 20px;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#6d1454+0,f6921e+100 */
  background: linear-gradient(135deg, #6d1454 0%, #f6921e 100%);

  .media__img {
    display: block;
    margin-top: -10px;
    margin-bottom: 20px;
    width: 30%;
    line-height: 1;
  }

  .media__heading {
    margin-top: 0;
    margin-bottom: 5px;
    color: #fff;
  }

  .media__sub {
    margin: 0;
    color: #fff;
  }
}
